span {
    font-style: italic;
    background-color: rgb(247, 0, 255); 
    color: rgb(0, 225, 255);
   
}

.name {
    margin-top: -30px;
    display: inline-block;
        margin: 30px;
        font-size: x-large;
        background-color: rgb(244, 161, 255);
        border-style: solid;
        border-width: 0.5px;
        padding-right: 20px;
    
    

}

.conteiner {
   display: inline-block;
    margin: 30px;
   font-size: x-large;
   background-color: rgb(244, 161, 255);
   border-style: solid ;
   border-width: 0.5px;
   padding-right: 20px;
 
   

}

.other {
    display: inline-block;
        margin: 30px;
        font-size: x-large;
        background-color: rgb(244, 161, 255);
}

.h2 {
   text-align: center;
}



.buttonn {
    text-align: center;
    }


.proigrok {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }


.about {
    font-family: e;
}

